<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
 
    <link rel="stylesheet" href="./home.css">
    
    <title>Home</title>
</head>
<body>
    <nav>
        <div class="nav-wrapper">
          <a href="#" class="brand-logo">MESS MANAGEMENT</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/login">Login</a></li>
            <li><a href="/signUp">SignUp</a></li>
            <li><a href="/loginAsManager">Login as Manager</a></li>
          </ul>
        </div>
      </nav>
      <%   if(student == null)  { %>
        <div class="container">
            <div class="center">
                You need to login first
            </div>
        </div>
        <%  } %>
    <%   if(student != null)  { %>
      <div class='container'>
          <div class="spaced">
              <p><%= student.name %></p>
              <p><%= student.mess_name %></p>
          </div>

          <div class="spaced">
            <p>Department</p>
            <p><%= student.department %> <%= student.year %> year</p>
        </div>

        <div class="spaced">
            <p>Parents Contact</p>
            <p><%= student.parents_contact %></p>
        </div>

          <div class="spaced">
            <p>Registration No.</p>
            <p><%= student.id %></p>
        </div>
        <div class="spaced">
            <p>Month Name </p>
            <p><%= student.month_name %></p>
        </div>
        <div class="spaced">
            <p>Start Balance</p>
            <p><%= student.start_balance %></p>
        </div>
        <div class="spaced">
            <p>End Balance </p>
            <p> <%= student.end_balance %> </p>
        </div>
        <div class="spaced">
            <p> Monthly Billdays</p>
            <p> <%= student.monthly_total %></p>
        </div>
        <div class="spaced">
            <p>Total Meals </p>
            <p><%= student.total_meals %> </p>
        </div>
        <div class="spaced">
            <p> Veg Meals</p>
            <p> <%= student.veg_meals %> </p>
        </div>
        <div class="spaced">
            <p> Non-Veg Meals</p>
            <p><%= student.non_veg_meals %> </p>
        </div>
        <div class="spaced">
            <p>Total Leaves</p>
            <p> <%= student.leaves %></p>
        </div>
      </div>
      <%  } %>
 
</body>
</html>